<div class="description post-description">
    <span class="post-description-item">
        <%- partial('../../post/date', {post: post, class_name: '', date_format: null, hideLink: true})%>
    </span>
    <span class="post-description-item">
        <%- partial('../../post/tag', {post: post})%>
    </span>
</div>