<div class="content post-content">
    <a class="header" style="display: inline-block;" href="<%- url_for(post.path) %>"><%= post.title %></a>
    <%- partial('post-description', {post: post})%>
</div>