<% if (post.tags && post.tags.length){ %>

    <span>
        <i class="tags icon"></i>
    </span>

    <% post.tags.forEach(function (tag) { %>
    <span class="ui tiny label">
        <a href="<%= url_for(tag.path)  %>"><%= tag.name %></a>
    </span>

    <% }) %>
<% } %>