.post-content {
  display: inline;
}
.post-content div {
  padding-top: 10px;
}
@media (min-height: 320px) {
  .ui.footer.form-page {
    /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.blog-footer {
  padding-top: 10px;
  padding-bottom: 20px;
}
