.post-content {
  display: inline;
}
.post-content div {
  padding-top: 10px;
}
footer {
  bottom: 0;
  background-color: #00B5AD;
  height: 50px;
}
.main.container .article-footer {
  margin-top: 20px;
}
.main.container .pagination {
  margin-top: 40px;
  margin-bottom: 40px;
}
.post-description .post-description-item {
  padding-right: 10px;
  height: 100%;
  vertical-align: middle;
}
pre {
  word-break: break-all;
  word-wrap: break-word;
}
.tag-container .tagpage.header {
  font-size: 30px;
}
.tag-container .ui.dividing.header {
  vertical-align: middle;
}
#search-modal #search-results .highlight {
  background-color: #c6e6f4;
}
#search-modal #search-results .search-result-tags {
  padding-top: 5px;
}
#search-modal .algolia-logo {
  float: right;
}
.sidebar-card {
  padding: 10px;
}
#body .menu-buttons {
  position: fixed;
  z-index: 2147483647;
  bottom: 20px;
  left: 20px;
}
#body .body-content #content {
  margin-top: 60px;
}
#sidebar-top .content {
  position: relative;
  background: #FFF;
  margin: 1rem 0;
}
.article-inner .post-description {
  padding-top: 10px;
}
