/* Image style */
#scrollUp {
    background-image: url("../images/scrolltop.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}
