<div id="blog-footer" class="blog-footer">
    <footer>
        <div class="ui text container">
            <div class="ui two column centered grid">
                <div class="" id="footer-info">
                    &copy; <%= date(new Date(), 'YYYY') %> <a href="/"><%= config.author || config.title %></a>,
                    Powered by <a href="https://github.com/henryhuang/hexo-theme-elul" target="_blank">Elul</a> and <a
                            href="http://hexo.io/" target="_blank">Hexo</a>.
                </div>
            </div>
        </div>
    </footer>
</div>
