<div class="description">
    <span>
        <%- partial('post/date', {post: post, class_name: '', date_format: null})%>
    </span>
    <span>
        <%- partial('post/tag', {post: post})%>
    </span>
</div>