<div class="ui small long scrolling modal" id="search-modal">
    <div class="header">
        <div class="ui fluid icon input">
            <input type="text" id="search-box" placeholder="<%= __('searchModalPlaceholder') %>">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="image content">
        <div class="description">
            <div class="algolia-logo">
                Powered by <img class="ui avatar image" src="<%= resourceURL('', config.root, 'local/images/algolia_logo.svg') %>">
            </div>
            <div id="search-results" class="ui relaxed divided list">
            </div>
        </div>
    </div>
</div>